html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

header {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #25008a;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    

}
.name {
    color: white;
}

img {
    padding-top: 10rem;
}